[submodule "springcloud-study"]
	path = springcloud-study
	url = git@github.com:nanaliulei/springcloud-study.git
[submodule "LeetCode-pass"]
	path = LeetCode-pass
	url = git@github.com:nanaliulei/LeetCode-pass.git
[submodule "design-pattern"]
	path = design-pattern
	url = git@github.com:nanaliulei/design-pattern.git
[submodule "network"]
	path = network
	url = git@github.com:nanaliulei/network.git
